<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment B2 Realtime web application</title>
    <base href="{{baseURL}}"/>
    <link rel="stylesheet" type="text/css" href="./css/styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&family=Nunito:wght@300&family=Quicksand:wght@300&family=Varela+Round&display=swap" rel="stylesheet">
    <script type="module" src="./js/index.js"></script>
</head>
<body>
    {{>header}}
    <main id="main-body">
        {{>flash}}
        {{{body}}}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</body>
</html>