body {
    background-color: #00AFB9;
}

#header-title {
    color: white;
    padding: 5px;
    font-family: 'Quicksand', sans-serif;
}

#header-hr {
    border-color: aquamarine;
}

nav {
    margin-left: 170px;
    display: flex;
    flex-direction: row;
}

.nav-link {
    background-color: gray;
    padding: 20px;
    margin-right: 15px;
    margin-bottom: -80px;
    margin-top: 40px;
    border-radius: 1em 1em 0 0;
    text-decoration: none;
}

.nav-link:hover {
    height: 42px;
    margin-top: 18px;
}

nav a {
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
    color: aquamarine;
}

#main-body {
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 80px;
    padding-bottom: 40px;
}

.title {
    padding: 30px;
    color: #64a8a4;
    font-size: 20px;
}

#sub-menu-container {
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    width: 20%;
    float: left;
}

#sub-menu-container a {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 40px;
    margin-bottom: 20px;
    text-decoration: none;
    color: gray;
    font-size: 18px;
}

#sub-menu-container a:hover {
    text-decoration: underline;
}

#list {
    margin: auto;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.issue-hr {
    width: 100%;
    border-top: #4b4b7e solid 4px;
    opacity: 90%;
    bottom: 0;
}

.issue-container {
    margin: auto;
    margin-bottom: 10px;
    width: 90%;
    display: flex;
    flex-direction: row;
}

.title-container {
    color: #e09333;
    margin: 20px;
    width: 600px;
    font-family: 'Noto Sans SC', sans-serif;
}

.title-container p {
    font-size: 12px;
}

.avatar {
    width: 40px;
    height: 40px;
    margin: auto;
    margin-left: 0;
}

.edit-btn {
    background-color: #4b4b7e;
    font-family: 'Varela Round', sans-serif;
    color:#f39331;
    text-decoration: none;
    margin: 30px;
    padding: 10px;
    height: 20px;
    border-radius: 5px;
}

.edit-btn:hover {
    background-color: #292961;
}

form {
    margin-left: 65px;
}

.btn {
    border: none;
    padding: 5px 15px 5px 15px;
    background-color: #f1d354;
}

.btn:hover {
    border: solid #A18C31 2px;
    padding: 3px 13px 3px 13px;
    color: white;
}

#new-input {
    margin-right: 20px;
    width: 250px;
}

#flash-div {
    background-color: #292961;
    font-family: arial;
    text-align: center;
    color: white;
    width: 100%;
    padding: 15px;
}
