<header>
  <h1 id="header-title">Realtime Application</h1>
  <hr id="header-hr">
  <nav>
    <div class="nav-link"><a href="/">Home</a></div>
    <div class="nav-link"><a href="/new">Create New</a></div>
  </nav>
</header>