<div id="sub-menu-container">
  <h2 class="title">Realtime Issues</h2>
  <a href="/">Opened</a>
  <a href="/closed">Closed</a>
</div>

<div id="list">
    {{#if viewData.all.length}}
    {{#each viewData.all}}
      {{#if open}}
      <div>
        <div class="issue-container">
          <img src={{this.avatar}} class="avatar" alt="The issue author avatar.">
          <div class="title-container">
            <input type="hidden" name="issue-id" value="{{this.id}}"/>
            <h3 class="issue-title">{{this.title}}</h3>
            <p>{{this.description}}</p>
          </div>
          <a href="/{{this.id}}/close" class="edit-btn">Close</a>
        </div>
        <hr class="issue-hr">
      </div>
      {{/if}}
    {{/each}}
    {{else}}
    <p>Nothing to display</p>
  {{/if}}
</div>
  <template id="template">
       <div class="issue-container">
        <img src=\{{this.avatar}} class="avatar" alt="The issue author avatar.">
        <div class="title-container">
          <input type="hidden" name="issue-id" value="\{{this.id}}"/>
          <h3 class="issue-title">\{{this.title}}</h3>
          <p>\{{this.description}}</p>
        </div>
        <a href="/{{this.id}}/close" class="edit-btn">Close</a>
      </div>
       <hr class="issue-hr">
  </template>
</div>
