<div id="new-container">
  <h3 class="title">New issue</h3>
  <form method="POST" action="/create">
    <label for="issue" id="new-label">Issue title:</label></br>
    <input type="text" name="issue" id="new-input"/>
    <input type="submit" class="btn" value="Save"/>
    </form> 
</div>